<div class="d-flex justify-content-center">
  <% @sub_categories.each do |sub_category| %>
    <div class="card" style="width: 18rem;">
      <%= image_tag "shoe.webp", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= sub_category.name.titleize %></h5>
        <p class="card-text"><%= sub_category.description %></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  <% end %>
</div>